<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script lang="javascript" src="dist/xlsx.full.min.js"></script>

<div class="container">

    <button mat-button routerLink="/home-component" routerLinkActive="active" class="btn btn-primary btn-circle btn-lg">
        <mat-icon>arrow_back</mat-icon> 
    </button>
    <router-outlet></router-outlet>

    <select id="chart-combo" (change)="onChartSelected($event)" class="form-select">
        <option hidden selected>Seleccione una gráfica</option>
        <option>Matriculados en grupos teóricos</option>
        <option>Grafico 2</option>
    </select>

    <div style="margin-top: 40px" (click)="addRow()">
    
        <button mat-button class="btn btn-primary with-icon bt-icon-right">
            <mat-icon>add</mat-icon> 
            Añadir serie
        </button>
      
    </div>

    <div style="margin-top: 10px">
        <table class="table-light">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Grado</th>
                    <th>Curso</th>
                    <th>Semestre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dynamic of dynamicSeries;let i = index;">
                    <td>
                        <select #selectDoc="ngModel" ngModel="dynamicSeries[i].docs" (change)="changeDoc(selectDoc.value,i)" id="selectDoc" class="form-select">
                            <option value="">Seleccione un documento</option>
                            <option *ngFor="let x of docs" [ngValue]="x">{{ x }}</option>
                        </select>
                        </td>
                    <td>
                    <select #selectDegre="ngModel" ngModel="dynamicSeries[i].degrees" (change)="changeDegree(selectDegre.value,i)" id="selectDegre" class="form-select">
                        <option value="">Seleccione un grado</option>
                        <option *ngFor="let d of degrees" [ngValue]="d">{{ d }}</option>
                    </select>
                    </td>
                    <td>
                    <select #selectYear="ngModel" [(ngModel)]="dynamicSeries[i].years" (change)="changeYear(selectYear.value,i)" id="selectYear" class="form-select">
                        <option hidden selected>Seleccione un curso</option>
                        <option *ngFor="let y of years" [ngValue]="y">{{ y }}</option>
                    </select>
                    </td>
                    <td>
                    <select #selectSemester="ngModel" [(ngModel)]="dynamicSeries[i].semesters" (change)="changeSemester(selectSemester.value,i)" id="selectSemester" class="form-select">
                        <option hidden selected>Seleccione un semestre</option>
                        <option *ngFor="let s of semesters" [ngValue]="s">{{ s }}</option>
                    </select>
                    </td>
                </tr>
                
            </tbody>
        </table>
  </div>

  <button style="margin-top: 10px" (click)="createChart()" class="btn btn-primary">Crear gráfico</button>
  <!--<div id="chart-container">
    <canvas id="chart-1" width="800" height="450"></canvas>
  </div>
    
    <div id="bar-chart">
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
        ></apx-chart>
    </div>
    
-->
<div id="wrap">
    <div id="bar-chart" *ngIf="loaded">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [subtitle]="chartOptions.subtitle"
          [colors]="chartOptions.colors"
          [states]="chartOptions.states"
          [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"
        ></apx-chart>
      </div>
    </div>

    <div id="chart-info" *ngIf="loaded">
        <apx-chart
          [series]="chartInfoOptions.series"
          [chart]="chartInfoOptions.chart"
          [legend]="chartInfoOptions.legend"
          [plotOptions]="chartInfoOptions.plotOptions"
          [yaxis]="chartInfoOptions.yaxis"
          [xaxis]="chartInfoOptions.xaxis"
          [grid]="chartInfoOptions.grid"
          [title]="chartInfoOptions.title"
        ></apx-chart>
      </div>
</div>


  
  