<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script lang="javascript" src="dist/xlsx.full.min.js"></script>

<div class="container">

    <button mat-button [routerLink]="['home-component']" class="btn btn-primary btn-circle btn-lg">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <router-outlet></router-outlet>

    <form [formGroup]="formularioGrafico">
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una gráfica</mat-label>
            <mat-select formControlName="graficoSeleccionado">
                <mat-option value=1>Matriculados en grupos teóricos</mat-option>
                <mat-option value=2>Grafico 2</mat-option>
            </mat-select>
        </mat-form-field>
    </form>



   <app-filtro1 *ngIf="formularioGrafico.value.graficoSeleccionado=='1'" (borraGrafica)="informacionGraficosAMostrar=null">

   </app-filtro1>

   <app-filtro2 *ngIf="formularioGrafico.value.graficoSeleccionado=='2'" (borraGrafica)="informacionGraficosAMostrar=null">

    </app-filtro2>

    <button style="margin-top: 10px" (click)="createChart()" class="btn btn-primary with-icon">
        <mat-icon style="margin-right: 5px;"> show_chart</mat-icon>
        Crear gráfico
    </button>


</div>


<!-- Muestra de graficos -->


<div *ngIf="informacionGraficosAMostrar">
    <div *ngIf="tipoGrafico === 'vertical'">
        <app-graf-vertical [datos]="informacionGraficosAMostrar"></app-graf-vertical>
    </div>
    <div *ngIf="tipoGrafico === 'caja1'">
        <app-graf-caja1 [datos]="informacionGraficosAMostrar"></app-graf-caja1>
    </div>
</div>

