div {
    width: 75vw;
    max-width: 75vw;
}

.primerGrafico{
    position: absolute;
    bottom: 0;
    min-height: 50vh;
}

::ng-deep text {
    transform: rotate(-15deg) !important;
}

::ng-deep .textDataLabel{
    transform: unset!important;
}