<div>
    <ngx-charts-bar-vertical (select)="onSelect($event)" [view]="[1000,400]" [results]="datosGrafico"
        [legendTitle]="'Leyenda'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
        [yAxis]="true" [gradient]="true">
    </ngx-charts-bar-vertical>
</div>

<div>
    <ngx-charts-bar-vertical *ngIf="graficoInfoAdicional" [view]="[1000,400]" [results]="graficoInfoAdicional"
        [legendTitle]="'Leyenda'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
        [yAxis]="true" [gradient]="true">
    </ngx-charts-bar-vertical>
</div>