<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script lang="javascript" src="dist/xlsx.full.min.js"></script>

<div class="container">

  <input type="file" class="file-input" id="fileInput" (change)="onFileSelected($event)" #fileUpload multiple>

  <div class="file-upload">

    {{fileList || "No ha seleccionado ningún fichero."}}
 
     <button type="button" color="primary" class="upload-btn"
       (click)="fileUpload.click()">
        
     </button>
 </div>

  <a routerLink="/detail" (click)="sendFile($event)">Subir archivos</a>

  <button (click)="sendFile($event)">Añadir</button>

</div>
