div {
    width: 75vw;
    max-width: 75vw;
}

.primerGrafico{
    min-height: 50vh;
    margin-top: 15vh;
}

::ng-deep text {
    transform: rotate(-15deg) !important;
} 

::ng-deep .textDataLabel{
    transform: unset!important;
} 